.popup__error-message {
  display: inline-block;
  visibility: hidden;
  color: #FF0000;
  font-weight: normal;
  font-size: 12px;
  line-height: 14.52px;
  min-height: 21px;
  vertical-align: top;
}


.popup__error-message:last-of-type {
  min-height: 44px;
}


@media screen and (max-width: 767px) {
  .popup__error-message:last-of-type {
    min-height: 41px;
  }
}
